## Sales amount spent in thousands of dollars in advertising

In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
data = pd.read_csv('../data/Advertising.csv', index_col=0)

In [14]:
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [15]:
data.tail()

        TV  Radio  Newspaper  Sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [16]:
data.shape

(200, 4)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
TV           200 non-null float64
Radio        200 non-null float64
Newspaper    200 non-null float64
Sales        200 non-null float64
dtypes: float64(4)
memory usage: 7.8 KB

In [18]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [19]:
!pip install seaborn

Requirement already satisfied: seaborn in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: pandas>=0.15.2 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from seaborn) (0.25.1)
Requirement already satisfied: scipy>=0.14.0 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.3 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: numpy>=1.9.3 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: six>=1.5 in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.15.2->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /Users/elif/opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.4.0)

In [20]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'